@if(store.selectedList.name()) {
<div class="row justify-content-between list-and-notes-container">
  <!-- TODO LIST -->
  <div class="col-md-6 todo-list-container">
    <div
      class="d-flex list-header
      align-items-baseline
      justify-content-between
      position-relative p-1 w-100"
    >
      <input
        type="text"
        [value]="store.selectedList().name | titlecase"
        (blur)="updateListName($event)"
        (keyup.enter)="updateListName($event)"
        aria-label="Input to change the list name"
        required
        class="list-name text-secondary fs-2 focus-ring focus-ring-primary w-100 bg-transparent border-0"
      />
      <button
        (click)="deleteList()"
        class="delete-button btn
        link-primary focus-ring
        focus-ring-primary"
      >
        Delete
      </button>
    </div>
    <div class="progress shadow-sm mb-3 rounded-4">
      <div
        role="progressbar"
        [ngStyle]="{ 'width': store.percentage() + '%' }"
        [ngClass]="{'bg-info': store.percentage() != 100}"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
        class="progress-bar"
      >
        @if(store.percentage() != 100) {
          {{ store.numberChecked() }}/{{ store.selectedList.listItems().length }}
        } @else { Complete! }
      </div>
    </div>
    <table class="table bg-white shadow-sm">
      <tbody
        attr.aria-label="List for {{ store.selectedList.name() }}"
        class="table-body d-inline-block
        p-3 border-primary border-1 w-100"
      >
        @for(item of store.selectedList.listItems(); track item.name; let index = $index;) {
        <tr class="w-100 align-baseline">
          <td>
            <input
              type="checkbox"
              [checked]="item.isChecked"
              (change)="toggle(index)"
              (keyup.enter)="toggle(index)"
              [ngClass]="{ 'checked': item.isChecked }"
              class="btn btn-outline-primary border-0"
              attr.aria-label="Checkbox for {{ item.name }}"
            />
          </td>
          <td>
            <input
              type="text"
              [value]="item.name"
              (blur)="updateItem(index, $event)"
              attr.aria-label="Input to change {{ item.name }}"
              placeholder="Perfect list item goes here."
              class="text-primary w-100
              focus-ring focus-ring-primary
              border-0 list-item-name"
            />
          </td>
          <td class="text-end">
            <button
              (click)="deleteItem(index)"
              class="btn btn-primary remove-button"
            >
              Remove
            </button>
          </td>
        </tr>
        } @empty {
        <p class="empty-list-message text-primary text-center">
          Add items to the list.
        </p>
        }
        <tr class="w-100 align-baseline">
          <td>
            <input
              type="checkbox"
              aria-label="Checkbox placeholder for new list item"
              disabled
            />
          </td>
          <td>
            <form
              #newListItemForm="ngForm"
              (ngSubmit)="addItem()"
            >
              <input
                type="text"
                (blur)="addItem()"
                name="newListItem"
                [(ngModel)]="newListItem"
                placeholder="Perfect list item goes here."
                aria-label="Input to add new list item"
                required
                class="text-primary w-100 focus-ring
                focus-ring-primary border-0"
              />
            </form>
          </td>

          <td class="text-end">
            <button disabled class="btn btn-primary">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- NOTES -->
  <div
    class="col-md-6 todo-list-container
    d-flex flex-column align-items-baseline"
  >
    <p
      class="d-flex list-header
      text-secondary justify-content-between
      fs-2 mb-0 p-1"
    >
      Notes
    </p>
    <textarea
      rows="12"
      cols="50"
      (blur)="updateNotes($event)"
      aria-label="Textarea for notes"
      placeholder="Perfect notes go here."
      [value]="store.selectedList().notes"
      class="notes text-primary focus-ring
      focus-ring-primary p-3 shadow-sm w-100
      border-primary border-1"
    ></textarea>
  </div>
</div>
} @else {
<p class="text-center text-primary fs-3">Select a list.</p>
}
